<div class="form container">
  <%= erb :"partials/_errors", { layout: false, locals: { errors: @auction.errors.values.flatten } } %>
  <form action = "/auctions" method = "post">
    <div>
      <label>Item Name:</label>
      <input type="text" name="auction[name]" value="<%= @auction.name %>">
    </div>
    <div>
      <label>Condition:</label>
      <input type="text" name="auction[condition]" value="<%= @auction.condition %>">
    </div>
    <div>
      <label>Starts At:</label>
      <input type="datetime-local" name="auction[starts_at]" value="<%= date_and_time(@auction.starts_at) %>">
    </div>
    <div>
      <label>Ends At:</label>
      <input type="datetime-local" name="auction[ends_at]" value="<%= date_and_time(@auction.ends_at) %>">
    </div>
    <div>
      <label>Description:</label>
      <textarea name="auction[description]"><%= @auction.description %></textarea>
    </div>
    <div>
    <input type="submit" value="Update Item">
    </div>
  </form>
</div>
