<h2>Item up for Auction</h2>
<div "item-holder">

    <span id = "name" >Item Name:<%= @item.name %></span>
    <br>
    <span id = "condition" >Condition:<%= @item.condition %></span>
    <br>
    <span id = "starts" >Starts at:<%= @item.starts %></span>
    <br>
    <span id = "ends" >Ends at:<%= @item.ends %></span>
    <br>
    <span id = "description" >Description:<%= @item.description %></span>

</div>


