<div id="profile-info">
<h2>Welcome, <%= @user.username %>!</h2>
  <p class="profile">Username: <%= @user.username %></p>
  <p class="profile">Email: <%= @user.email %></p>
</div>

<div class="auction-container">
  <% @user.items.each do |item| %>
    <ol>
      <ul>
        <li>Item Name: <%= item.name %></li>
        <li>Condition: <%= item.condition %></li>
        <li>Description: <%= item.description %></li>
        <li>Start Time: <%= item.start_time %></li>
        <li>End Time: <%= item.end_time %></li>
        <li>Current Bid: $<%= item.bid %></li>
        <li>Listing Author: <%= item.user.username %></li>
      </ul>
    </ol>
  <% end %>

</div>
<!-- <form id="update-profile" action="/users/<%= @user.id %>" method="post" name="<%= @user.id %>">
  <p> Username: </p>
  <input class="username" type="text" value="<%= @user.username %>" name="user[username]">
  <input type="submit">
</form> -->
