<div class='container'>

  <h3>Edit this Auction:</h3>

  <% if session['user_id'] %>
    <% user = User.find(session['user_id']) %>
    <a href="/users/<%= user.id %>"><%= user.username %></a> | <a href="session/delete">Logout</a>
  <% else %>
    <a href='session/new'>Login</a> | <a href='users/new'>Register</a>
  <% end %>
  <hr>

  <form action='/users/<%= @user.id %>/items/<%= @item.id %>' method='post'>
    <input name='_method' type='hidden' value='put' />
    Item Name:<br>
      <input type='text' name='item[name]' value='<%= @item.name %>'>
      <br><br>
    Condition:<br>
      <select name='item[condition]'>
        <option name='item[condition]' value="New">New</option>
        <option name='item[condition]' value="Like New">Like New</option>
        <option name='item[condition]' value="Good">Good</option>
        <option name='item[condition]' value="Fair">Fair</option>
        <option name='item[condition]' value="Poor">Poor</option>
      </select>
      <br><br>
    Starts At:<br>
      <input type='datetime-local' name='item[starts_at]' value='<%= @item.starts_at %>'>
      <br><br>
    Ends At:<br>
      <input type='datetime-local' name='item[ends_at]' value='<%= @item.ends_at %>'>
      <br><br>
    Description:<br>
      <textarea rows='4' cols='50' name='item[description]'><%= @item.description %></textarea>
      <br><br>

    <input type='submit' value='Update Item for Auction'>
  </form>

  <ul>
    <li class='errors'><%= @incorrect_item %></li>
  </ul>

</div>
