<div class='form'>
  <center>
    <% if @item.errors.any? %>
      <div id="edit-item-errors">
        <% @item.errors.full_messages.each do |error| %>
          <p><%= error %></p>
        <% end %>
      </div>
    <% end %>

    <form id="edit-item-form" action="/items/<%= @user.id %>" method="post">
      <label>Item Name:</label><br>
      <input type='text' name='item[name]' value="<%= @item.name %>"><br><br>
      <!-- FIX CONDITION!!! For default -->
      <label>Condition:</label><br>
      <select name="item[condition]">
        <option value="Poor" <%= "selected" if @item.condition == "Poor"%>>Poor</option>
        <option value="Fair"<%= "selected" if @item.condition == "Fair"%>>Fair</option>
        <option value="Good" <%= "selected" if @item.condition == "Good"%>>Good</option>
        <option value="Great" <%= "selected" if @item.condition == "Great"%>>Great</option>
      </select><br><br>
      <label>Starts At:</label><br>
      <input type='text' name='item[auction_start]' value="<%= @item.auction_start %>"><br><br>
      <label>Ends At:</label><br>
      <input type='text' name='item[auction_start]' value="<%= @item.auction_end %>"><br><br>
      <label>Description:</label><br>
      <textarea rows="5" cols="50" name='item[description]'><%= @item.description %></textarea>
      <br><br>
      <input type='submit' value='Edit Item'>
    </form>
  </center>
</div>
