<div class='container'>

  <h3>Auction: <%= @item.name %></h3>

  <% if session['user_id'] %>
    <% user = User.find(session['user_id']) %>
    <a href="/users/<%= user.id %>"><%= user.username %></a> | <a href="/session/delete">Logout</a>
  <% else %>
    <a href='/session/new'>Login</a> | <a href='/users/new'>Register</a>
  <% end %>
  <hr>

  <div class='box'>
    <p><strong>Description:</strong></p>
    <%= @item.description %>

    <p><strong>Condition:</strong></p>
    <%= @item.condition %>

    <hr>

    <p><em>Auction Ends on <%= @item.ends_at %>.</em></p>
  </div>

</div>
