<h2><%= @item.name %></h2>
<br>
<h4>Description:</h4>
<p><%= @item.description %></p>
<br>
<h4>Condition:</h4>
<p><%= @item.condition %></p>
<br>
<br>
<p>Auction ends on <%= @item.auction_end.to_formatted_s(:long) %></p>

<h3>Bidding</h3>
<p>Number of bidders: <%= @item.bidders.length %> </p>

<div class='form'>
  <center>
    <% if @bid && @item.errors.any? %>
      <div id="add-item-errors">
        <% @item.errors.full_messages.each do |error| %>
          <p><%= error %></p>
        <% end %>
      </div>
    <% end %>

    <form id="new-item-form" action='/items' method="post">
      <label>Item Name:</label><br>
      <input type='text' name='item[name]' placeholder="Item Name"><br><br>
      <label>Condition:</label><br>
      <select name="item[condition]">
        <option value="Poor">Poor</option>
        <option value="Fair">Fair</option>
        <option value="Good" selected>Good</option>
        <option value="Great">Great</option>
      </select><br><br>
      <label>Starts At:</label><br>
      <input type='text' name='item[auction_start]' placeholder="Auction Start Time"><br><br>
      <label>Ends At:</label><br>
      <input type='text' name='item[auction_end]' placeholder="Auction End Time"><br><br>
      <label>Description:</label><br>
      <textarea rows="5" cols="50" name='item[description]'placeholder="Item Description"></textarea>
      <br><br>
      <input type='submit' value='List Item for Auction'>
    </form>
  </center>
</div>

