<div class="item-details">
  <h2><%= @item.name %></h2>
  <section class="item-detail">
    Description:<br>
    <%= @item.description %>
  </section>
  <section class="item-detail">
    Condition:<br>
    <%= @item.condition %>
  </section>
  <section class="item-detail">
    <%= @item.end_time.strftime("Auction Ends on %B %d, %Y\n at %l:%M:%S %P.") %>
  </section>

  <section class="bid-info">
    <h3>Bidding</h3>
    Number of bidders: <%= @item.bids.length %><br>
    <% if @users_bid %>
      You have already bid on this item.<br>
      You bid $<%= @users_bid[0].price %> on <%= @users_bid[0].created_at.strftime("%B %d, %Y") %><br>
      Thank you for bidding!
    <% else %>
      Place a bid for this item: <br>
      <% if @bid && @bid.errors.any? %>
        <ul>
          <% @bid.errors.full_messages.each do |error| %>
            <li class="errors"><%= error %></li>
          <% end %>
        </ul>
      <% end %>
      <form action="/bids/new" method="post">
        <input type="hidden" name="bid[user_id]" value=<%= session_user_id %>>
        <input type="hidden" name="bid[item_id]" value=<%= @item.id %>>
        <input type="text" name="bid[price]">
        <input type="submit">
      </form>
    <% end %>
  </section>
</div>
