<h1><%= @item.name %></h1>
<div class="item-description">
<ul>
  <li>Condition: <%= @item.condition %></li>
  <li>Description: <%= @item.description %></li>
  <li>End Time: <%= @item.end_time %></li>
  <li>Listing Author: <a href="/users/<%= @item.user.id %>"><%= @item.user.username %></a></li>
</li>
</ul>
</div>

<% if session[:user_id] %>
  <div class="bidding">
    <h1>Bidding</h1>
    <p>Number of bidders: <%= @item.bid_count %></p>
    <!-- RAN OUT OF TIME:
    If I had more time, I would have built an bid table that held a foreign key for the item to associate that bid, and a user id to associate which user bid on that item. that way I could tell the user whether or not he bid already -->
    <p>Place a bid for this item:</p>
    <p>Thank you for your bid.</p>
  </div>
<% end %>
