<h2><%= @item.name %></h2>
<br>
<h4>Description:</h4>
<p><%= @item.description %></p>
<br>
<h4>Condition:</h4>
<p><%= @item.condition %></p>
<br>
<br>
<p>Auction ends on <%= @item.auction_end.to_formatted_s(:long) %></p>

<h3>Bidding</h3>
<p>Number of bidders: <%= @item.bidders.length %> </p>

<% if session[:user_id] %>
  <div class='form'>
      <% if @bid && @bid.errors.any? %>
        <div id="add-bid-errors">
          <% @bid.errors.full_messages.each do |error| %>
            <p><%= error %></p>
          <% end %>
        </div>
      <% end %>

      <form id="new-bid-form" action="/users/<%= @user.id %>/items/<%= @item.id %>/bids" method="post">
        $ <input type='text' name='bid[amount]' placeholder="Bid Amount">
        <input type='submit' value='Place Bid'>
      </form>
  </div>
<% end %>
