<div class="center register container">
  <h2>Update Item</h2>

  <form action="/items/<%= @item.id %>" method="POST">
    <div class="form-group">
      <input class="form-control" type="hidden" name="_method" value="put"
    </div>

    <div class="form-group">
      <input class="form-control" type="hidden" name="item[user_id]" value="<%= @item.user_id %>"
    </div>

    <div class="form-group">
      <label>Item Name</label>
      <input class="form-control" type="text" name="item[name]" value="<%= @item.name %>">
    </div>

    <div class="form-group">
    <label>Condition</label>
      <select class="form-control" name="item[condition]">
        <option><%= @item.condition %></option>
        <option>Acceptable</option>
        <option>Good</option>
        <option>Very Good</option>
        <option>Like New</option>
        <option>Pristine</option>
      </select>
    </div>

    <div class="form-group">
      <label>Start Time</label>
      <input class="form-control" type="datetime-local" name="item[start_time]" value=<%= date_and_time(@item.start_time) %>>
    </div>

    <div class="form-group">
      <label>End Time</label>
      <input class="form-control" type="datetime-local" name="item[end_time]" value=<%= date_and_time(@item.end_time) %>>
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea cols="50" rows="10" class="form-control" type="text-area" name="item[description]"><%= @item.description %></textarea>
    </div>

    <input class="btn btn-primary" type="submit" value="Update">
  </form>
</div>
